<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>
    {% block conent %}
    <h1>Upload Successful!</h1>
    <h2>Uploaded Data:</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Event Name</th>
                <th>City Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            {% for event in uploaded_data %}
                <tr>
                    <td>{{ event.event_name }}</td>
                    <td>{{ event.city_name }}</td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.time }}</td>
                    <td>{{ event.latitude }}</td>
                    <td>{{ event.longitude }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>
</html>